<a href="https://colab.research.google.com/github/oylim98/oylim98/blob/main/%EA%B1%B8%EC%9D%8C%EB%A7%88%EB%93%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

첫학기 공부 자료들 (열심히 하기 위해 저장하였음)

클래스를 처음 써봄

In [ ]:
class School: 
    def __init__(self, name, kor, eng, mat, sci): 
        self.name = name self.kor = kor self.eng = eng self.mat = mat self.sci = sci

def get_name(self):
    return self.name

def get_tot(self):
    return self.tot

def get_ave(self):
    return self.ave

def get_grade(self):
    return self.grade

def calculate(self):
    self.tot = self.kor + self.eng + self.mat + self.sci
    self.ave = self.tot/4

def set_grade(self):
    if self.ave >= 90:
        self.grade = 'A'
    elif self.ave >= 85:
        self.grade = 'B+'
    elif self.ave >= 80:
        self.grade = 'B'
    elif self.ave >= 70:
        self.grade = 'C'
    elif self.ave >= 60:
        self.grade = 'D'
    else:
        self.grade = 'F'
name = input('이름:') 
kor = int(input('국어 점수:')) 
eng = int(input('영어 점수:')) 
mat = int(input('수학 점수:')) 
sci = int(input('과학 점수:'))

School1 = School(name, kor, eng, mat, sci)

School1.calculate() School1.set_grade()

print('이름:', School1.get_name()) 
print('합계:', School1.tot) 
print('평균:', School1.get_ave()) 
print('학점:', School1.get_grade())

함수 개념 익히기 였음

In [ ]:
def rect(): 
    w = int(input('ㄱㄹ:')) 
    h = int(input('ㅅㄹ')) 
    return w * h

def tri(): 
    w = int(input('밑:')) 
    h = input(input('윗 :')) 
    return w * h / 2

def cir(): 
    
    h = int(input('ㅂ:')) 
    s = 2 * h * 3.14 
    a = h * h * 3.14 
    return s,a

while True: 
    n = int(input('1~4:')) 
    if n == 1: 
        print(rect()) 
    elif n == 2: 
        print(tri()) 
    elif n == 3: 
        print(cir()) 
    else: break 
        continue

생각없이 따라적은 json 크롤링

In [ ]:
import requests import json

url = "https://yts.mx/api/v2/list_movies.json" 
response = requests.get(url) 
html = json.loads(response.text) 
data = html['data'] 
movies = data['movies'] 

for m in range(10): 
    print(movies[m]['title'],movies[m]['rating'],movies[m]['year'])

import requests import json

url = "https://yts.mx/api/v2/list_movies.json" 
response = requests.get(url) 
html = json.loads(response.text) 
data = html['data'] 
movies = data['movies'] 
for m in range(10): 
    print(movies[m]['title'],movies[m]['rating'],movies[m]['year'])

리스트 개념 익히기 였음

In [ ]:
name = [] 
kor = [] 
eng = [] 
mat = [] 
sci = [] 
tot = [] 
ave = []

for i in range(3): 
  n = input('이름대시오') 
  k = int(input('국어성적')) 
  e = int(input('영어성적')) 
  m = int(input('수학성적')) 
  s = int(input('과학성적'))

name.append(n)
kor.append(k)
eng.append(e)
mat.append(m)
sci.append(s)
for x in range(3): 
  totlist = kor[x] + eng[x] + mat[x] + sci[x] 
  avelist = totlist/4

tot.append(totlist)
ave.append(avelist)
for y in range(3): 
  print('\n학생이름: ',name[y]) 
  print('\n합산점수:',tot[y]) 
  print('\n평균: ',ave[y])

all = sum(tot)/3 
print('\n\n전체:',all)

if 문 공부하기

In [ ]:
kwh = int(input("전기사용량 : "))
month = int(input("월 : ")) 
weather = float(input("기후환경요금 : "))
adjust = float(input("연료비조정요금 : "))

if month == 7 or month == 8:
  if kwh <= 300:
    base_rate = 730
    used_rate = kwh * 73.3
  elif kwh <= 450:
    base_rate = 1260
    used_rate = (kwh-300) * 142.3 + 300 * 73.3
  else:
    base_rate = 6060
    used_rate = (kwh-450) * 210.6 + 150 * 142.3 + 300 * 73.3
else:
  if kwh <= 200:
    base_rate = 730
    used_rate = kwh * 73.3
  elif kwh <= 400:
    base_rate = 1260
    used_rate = (kwh-200) * 142.3 + 200 * 73.3
  else:
    base_rate = 6060
    used_rate = (kwh-400) * 210.6 + 200 * 142.3 + 200 * 73.3


weather_rate = kwh * weather
adjust_rate = kwh * adjust

rate = int(base_rate) + int(used_rate) + weather_rate + adjust_rate
tax = round(rate * 0.1)

fund = int(rate * 0.037 / 10) * 10

bill = rate + tax + fund
bill = int(bill / 10) * 10
print(bill)